@CHARSET "UTF-8";

@font-face {
    font-family: fzqt;
    src: url("font/fzqt.ttf");
}

@font-face {
    font-family: vani;
    src: url("font/Vani.ttf");
}
body,.navPage_bg{
  background: rgba(0,0,0,0.5);
  filter:Alpha(opacity=50);
  position:static; 
  *zoom:1;
}
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
.datepicker{z-index: 1051!important;}
.logo,.logo p {
	float: left;
}
.typeahead{min-width: 50%;}
.logo .com {
	font-size: 25px;
	color: #92FF65;
}

.logo .title {
	margin-left: 3px;
	color: #fff;
	height: 36px;
	line-height: 36px;
	font-size: 15px;
}

.logo hr {
	width: 100%;
	border: none;
	margin: 2px auto;
	height: 1px;
	background: -moz-linear-gradient(left, #2b2c30, #FFF, #2b2c30);
	background: -webkit-linear-gradient(left, #2b2c30, #FFF, #2b2c30);
	background: -o-linear-gradient(left, #2b2c30, #f00, #2b2c30);
}
.blackTitle,.blackFoot{
	color:#ffffff;
	padding: 2px 15px;
}
.blackTitle{
	background:  #000000;
	background: -webkit-linear-gradient(top, #000000, #999999);
	background: -o-linear-gradient(top, #000000, #999999);
}
.blackFoot{
	background: -moz-linear-gradient(bottom, #000000, #999999);
	background: -webkit-linear-gradient(bottom, #000000, #999999);
	background: -o-linear-gradient(bottom, #000000, #999999);
}
/* tab pages */
.benma_ui_tab {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	position: relative;
	top: 0px;
	line-height: 22px;
	overflow: auto;
	border: 0px solid #999999;
	padding-top: 4px;
	white-space: nowrap;
	overflow: hidden;
}

.benma_ui_tab .tab_hr {
	width: 100%;
	height: 2px;
	background-color: #336688;
	position: relative;
	top: 24px;
	z-index: 113;
	font-size: 0px;
	display: block;
}

.benma_ui_tab .tab_item {
	line-height: 22px;
	z-index: 100;
	white-space: nowrap;
	word-spacing: 0px;
	border-collapse: collapse;
	margin-left: 4px;
	float: left;
	cursor: hand;
	cursor: pointer;
}

.benma_ui_tab .tab_item1,.benma_ui_tab .tab_item2,.benma_ui_tab .tab_item3
	{
	background: #3d3d3d;
	z-index: 100;
	white-space: nowrap;
	height: 25px;
}

.benma_ui_tab .tab_item1 {
	width: 5px;
	border-top-left-radius: 5px;
}

.benma_ui_tab .tab_item2 {
	white-space: nowrap;
}

.benma_ui_tab .tab_item3 {
	width: 5px;
	border-top-right-radius: 5px;
}

.benma_ui_tab .tab_item1_mouseover,.benma_ui_tab .tab_item1_selected,.benma_ui_tab .tab_item2_mouseover,.benma_ui_tab .tab_item2_selected,.benma_ui_tab .tab_item3_mouseover,.benma_ui_tab .tab_item3_selected
	{
	background: #6CB670;
	color: #ffffff;
}

.benma_ui_tab .tab_title {
	padding: 4px;
	line-height: 16px;
	font-size: 16px;
}

.benma_ui_tab .tab_close {
	position: relative;
	top: -5px;
	left: 4px;
	height: 14px;
	width: 14px;
	font-size: 20px;
}

.benma_ui_tab .tab_close_mouseover {
	background-position: 0px -14px;
}

.benma_ui_tab .tab_close_selected {
	background-position: 0px 0px;
}

.benma_ui_tab .tab_close_noselected {
	background-position: 0px -28px;
}

.benma_ui_tab .tab_close_none {
	display: none;
}

/* bottom */
.benma_ui_tab_bottom {
	position: relative;
	top: 0px;
	width: 1024%;
	border: 0px solid #999999;
	padding-top: 0px;
	padding-bottom: 4px;
	white-space: nowrap;
	overflow: hidden;
}

.benma_ui_tab .tab_hr_bottom {
	width: 100%;
	height: 2px;
	background-color: #336688;
	position: relative;
	top: 0px;
	z-index: 113;
	font-size: 0px;
	display: block;
	position: relative;
}

.benma_ui_tab .tab_item_bottom {
	position: relative;
	top: -2px;
	line-height: 20px;
	z-index: 100;
	white-space: nowrap;
	word-spacing: 0px;
	border-collapse: collapse;
	margin-left: 4px;
	float: left;
	cursor: hand;
	cursor: pointer;
}

.benma_ui_tab .tab_item1_bottom {
	background-image: url(../img/skin/original/tabs/tab1_bottom.gif);
	background-repeat: no-repeat;
	background-position: 0px -18px;
	width: 5px;
}

.benma_ui_tab .tab_item1_mouseover_bottom {
	background-position: 0px -60px;
}

.benma_ui_tab .tab_item1_selected_bottom {
	background-position: 0px -102px;
}

.benma_ui_tab .tab_item2_bottom {
	background-image: url(../img/skin/original/tabs/tab2_bottom.gif);
	background-repeat: repeat-x;
	background-position: 0px -18px;
}

.benma_ui_tab .tab_item2_mouseover_bottom {
	background-position: 0px -60px;
}

.benma_ui_tab .tab_item2_selected_bottom {
	background-position: 0px -102px;
	color: #ffffff;
}

.benma_ui_tab .tab_item3_bottom {
	background-image: url(../img/skin/original/tabs/tab3_bottom.gif);
	background-repeat: no-repeat;
	background-position: 0px -18px;
	width: 5px;
}

.benma_ui_tab .tab_item3_mouseover_bottom {
	background-position: left -60px;
}

.benma_ui_tab .tab_item3_selected_bottom {
	background-position: left -102px;
}

.benma_ui_tab .tab_title_bottom {
	padding: 4px;
	line-height: 16px;
}

.benma_ui_tab .tab_close_bottom {
	font-size: 9px;
	top: 1px;
}
/* tab pages end */
/* color */
.warp {
	/* background-color:rgba(0,0,0,0.5); */
	background: url("../img/skin/black/bg.png");
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
	-moz-background-size:100% 100%;  
    background-size:100% 100%;  
	margin: 0;
	padding: 0;
}

.warp {
	color: #ddd;
}

a:active {
	color: #92e365 !important;
}

.loginlable {
	color: #444;
}
.loginmain {
    z-index: 888;
    height: 340px;
    width: 540px;
    position: absolute;
    margin-left: -270px;
    margin-top: -170px;
    left: 50%;
    top: 50%;
    background: #fff;
    opacity: .9;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    -webkit-box-shadow:1px 5px 18px 5px #000;  
  	-moz-box-shadow:1px 5px 18px 5px #000;  
  	box-shadow:1px 5px 18px 5px #000;  
}
.row-fluid {
    z-index: 889;
    text-align: center;
    opacity: 1;
    height: 320px;
    width: 520px;
    position: absolute;
    margin-left: -260px;
    margin-top: -160px;
    left: 50%;
    top: 50%;
    background: #FFF;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -webkit-linear-gradient(top, #FFFFFF,#EEEEEE);
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
}
.row-fluid h1 {
	color: #55CC50;
	font-family: fzqt;
	text-shadow: #30FF40 0px 0px 4px;
	font-size: 40px;
	padding: 25px 0;
}

.row-fluid hr {
    width: 80%;
    border: none;
    margin: 10px auto;
    height: 1px;
    background: -moz-linear-gradient(left, #EEEEEE, #FFF,#EEEEEE);
    background: -webkit-linear-gradient(left,#EEEEEE, #FFF,#EEEEEE);
    background: -o-linear-gradient(left,#EEEEEE, #f00,#EEEEEE);
}

.row-fluid .tip {
    color: red;
    text-align: center;
}

/* color-end */
/*链接根据页面要求全局自定义*/
/*链接*/
a:link {
	text-decoration: none; /*下划线*/
	color: #ddd; /*颜色*/
}
/*被访问过链接*/
a:visited {
	text-decoration: none; /*下划线*/
	color: #ddd; /*颜色*/
}
/*鼠标经过*/
a:hover {
	text-decoration: none; /*下划线*/
}
/*链接被按下*/
a:active {
	text-decoration: none; /*下划线*/
}
/*链接橙色*/
a.orange {
	color: #8e5f07; /*颜色*/
}
/*链接灰色*/
a.gray {
	color: #6d6d6d; /*颜色*/
}
/*开灯关灯效果*/
.turnoff {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	position: fixed;
	background: #000000 repeat;
	opacity: 0.6;
	-moz-opacity: 0.6;
}

.warp {
	height: 100%;
	font-family: "Ubuntu", "Arial", sans-serif;
	line-height: 1.5;
}

.top_c,.bottom_c {
	background-color: #2b2c30;
	z-index: 999;
}

.top_c {
	height: 55px;
	position: relative;
}

.top-nav,.top-nav a {
	color: #92e365;
}

.top-nav {
	position: absolute;
	text-align: right;
	bottom: 5px;
	right: 10px;
	font-size: 14px;
}

.top-menu {
	position: absolute;
	right: 0;
	top: 0;
	height: 34px;
	padding-left: 52px;
	display: none;
}

.top-menu .top-menu-nav {
	white-space: nowrap;
	height: 72px;
	background:;
	margin: 0;
	padding: 0px;
}

.top-menu .top-menu-nav li {
	white-space: nowrap;
	float: left;
	margin: 1px 0;
	border-right: 1px dotted #fff;
	padding: 10px;
	font-size: 16px;
	background: #444;
	border-bottom-left-radius: 5px;
}

.top-menu .top-menu-nav li:HOVER {
	background: #6CB670;
}

.top-menu .top-menu-nav li>a {
	color: #fff
}

.top-menu-nav .kidc {
	background: #6CB670;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 9999;
	position: absolute;
	padding: 5px 0;
	margin-left: -10px;
	margin-top: 10px;
	display: none;
}

.top-menu-nav .kidc li {
	float: none;
	background: none;
	border: none;
	padding: 3px 22px;
}

.top-menu-nav .kidc li:hover {
	background: #444;
	color: #FFF;
}

.top-menu-nav .kidc li a:hover {
	background: #444;
	color: #FFF;
	text-decoration: none;
}
.time{
	position: absolute;
	text-align: right;
	top: 1px;
	right: 0px;
	font-size: 14px;
	width: 312px;
}
.time,.time a{
	color: #92e365;
}
.time,.date-top{
	float: right;
}
.digital{
	float: left;
	margin-right: 1%;
}
.weekDay{
	padding-right: 2px;
}
.monthDay{
	padding:0px 12px;
}
.fullYear{
	padding:0px 19px;
}
.left_c {
	background: #3d3d3d;
	width: 220px;
	position: absolute;
	top: 45px;
	left: -300px;
	overflow: hidden;
	bottom: 34px;
}

.left_c .acc {
	position: absolute;
	bottom: 0;
	top: 0px;
	width: 100%;
	overflow: auto;
	padding-top: 10%;
}

.left_c h1 {
	display: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	text-indent: 16px;
	font-size: 16px;
	background: #808080;
	background: -moz-linear-gradient(top, #808080, #333439);
	background: -webkit-linear-gradient(top, #808080, #333439);
	background: -o-linear-gradient(top, #808080, #333439);
}

.left_c ul {
	margin: 0;
	padding: 0;
	display: none;
}

.one,.kid li {
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: middle;
}
.one span{margin-top: 5px;}
.left_c a.one:link,.left_c a.one:VISITED {
	color: #fff !important;
}

.left_c a.one:hover {
	text-decoration: none;
	background: #6CB670;
}

.one-hover {
	background: #6CB670;
}

.kid li {
	text-indent: 1px;
	cursor: pointer;
	font-size: 14px;
}

.kid a:link,.kid a:VISITED {
	color: #92e365 !important;
}

.kid li:hover {
	color: #810026;
	background: #575757;
}

.kid .tip {
	height: 0;
	width: 8px;
	border: 4px solid transparent;
	border-left-color: #000;
	display: none;
}

.alert .tip {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-left-color: #000;
	display: inline-block;
}

.tip-down {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-bottom-color: #000;
	display: inline-block;
}

.tip-left {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-left-color: #000;
	display: inline-block;
}

.tip-up {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-top-color: #fff;
	display: inline-block;
}

.tip-up-red {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-top-color: #000;
	display: inline-block;
}

#datepicker {
	font-family: "Vani";
}

.right_c {
	position: relative;
	position: absolute;
	bottom: 34px;
	left: 15px;
	top: 85px;
	border-top: 1px solid #3d3d3d;
	/* border-left: 1px solid #C0C0C0; */
	right: 0;
	padding: 0px;
	z-index: 996;
}

.nav-tip {
	cursor: pointer;
	width: 12px;
	left: -12px;
	top: 50%;
	height: 73px;
	line-height: 73px;
	color: #fff;
	font-size: 12px;
	position: absolute;
	background-position-x: 0;
	background: #6CB670;
	vertical-align: middle;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.nav-tip span{margin-top: 29px;}
#tab_menu {
	position: absolute;
	left: 11px;
	top: 55px !important;
	height: 30px;
}

.Conframe {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(91,91,91,0.3);
	overflow: auto;
	z-index: 999;
	position: absolute;
	right:0px;
	left: 15px;
	top: 86px;
	bottom: 34px;
	margin: 0px;
	
}

.bottom_c {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 8px 0;
}


/* 刷新 goal_refresh */
.refresh {
	float: right;
	background: url(../img/skin/black/refresh.png);
	background-size: 100%;
	display: block;
	width: 38px;
	height: 38px;
	padding: 0.2px;
}
.refresh:HOVER{
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transition: all 800ms ease-out 0ms;
	-moz-transition: all 800ms ease-out 0ms;
	-o-transition: all 800ms ease-out 0ms;
	transition: all 800ms ease-out 0ms;
	-webkit-transform: rotateZ(360deg) scale(1, 1);
	-moz-transform: rotateZ(360deg) scale(1, 1);
	-ms-transform: rotateZ(360deg) scale(1, 1);
	-o-transform: rotateZ(360deg) scale(1, 1);
	transform: rotateZ(360deg) scale(1, 1);
}
/* 快捷菜单、导航、提醒  goal_title */
#quickMenu .imgItem {
	float: left;
	width: 75px;
	height: 85px;
	margin: 5px;
	padding: 3px;
	background: #bac9ec;
	border-radius: 8px;
	border: 5px solid #fff;
	text-align: center;
	vertical-align: center;
	cursor: pointer;
}

#navmenu,#remind {
	min-height: 300px;
	float: left;
	margin-left: 5px;
	margin-top: 15px;
	border-radius: 5px;
}

#navmenu {
	width: 90%;
	margin-top: 5%;
}

#navmenu td {
	padding-bottom: 5%;
}



#remind {
	display: none;
	border: 1px solid #b0bbd1;
}

.navbar {
	color: #92e365;
	padding: 8px 10px 8px 14px;
	margin-bottom: 5px;
	/* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); */
}

.navbar a {
	color: #92e365 !important;
}

.img_bg,.navbar .tip {
	border-left-color: #fff !important;
}

.navbar .tip {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-left-color: #000;
	display: inline-block;
}

#remind_title,#navmenu_title {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	color: #ffffff;
	text-indent: 15px;
	font-size: 15px;
	height: 20px;
	background: #b0bbd1;
	background: -moz-linear-gradient(top, #000000, #999999);
	background: -webkit-linear-gradient(top, #000000, #999999);
	background: -o-linear-gradient(top, #000000, #999999);
	text-align: center;
}
.navitem{
	cursor: pointer;
	width: 80%;
	padding-top: 35px;
}
#navmenu img:HOVER {
	opacity: 0.9;
	filter: alpha(opacity = 90);
	-webkit-transition: all 600ms ease-out 0ms;
	-moz-transition: all 600ms ease-out 0ms;
	-o-transition: all 600ms ease-out 0ms;
	transition: all 600ms ease-out 0ms;
	-webkit-transform: rotateY(180deg) scale(0.6, 0.6);
	-moz-transform: rotateY(180deg) scale(0.6, 0.6);
	-ms-transform: rotateY(180deg) scale(0.6, 0.6);
	-o-transform: rotateY(180deg) scale(0.6, 0.6);
	transform: rotateY(180deg) scale(0.6, 0.6);
}

#remind_body .lilight {
	margin-top: 1px;
	border: 1px solid #fff;
	background: #fff 50% 50% repeat-x;
	color: #444;
}

#remind_body li {
	background: #d9edf7;
	color: #3a87ad;
}
/* 进场统计 goal_swipe */
.swipe_middle{
	margin-top:18px; 
}
#signIn_box,.swipe_in {
	background: #57c8f2;
}

#enjoyIng_box,.swipe_enjoy {
	background: #6CB670;
}

#signOut_box,.swipe_out {
	background: #ff6c60;
}
/* 销售统计 goal_sale */
.stats_recive {
	color: #fff;
	background: #00ccff
}

.stats_in {
	color: #fff;
	background: #92e365
}

.stats_out {
	color: #fff;
	background: #ff0030
}
.sale {
	color: #fff !important;
	margin:0px 1px!important;
}
/* table */
.tbform,.tb {
	background-color: #ffffff;
	padding: 0px;
}

.thCss {
	background-color: #3d3d3d;
}

.trodd,.tbform .tdl {
	background-color: #eeeeee;
}

.treven {
	background-color: #FFF;
}

.tractive {
	background-color: #cccccc;
}

.tb,.tbform {
	border-collapse: collapse;
	border-spacing: 2px;
	white-space: nowrap;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 0px;
}

.tb_data {
	/* min-height:400px; */
	padding: 0;
}
.swipelist{
	min-height: 64%;
}
.memberlist{
	min-height: 50.5%;
}
.tb td,.tbform td,.tbform th {
	border-bottom: 1px solid #aaaaaa;
	padding: 1px 3px !important;
}

.tbform thead>tr {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.tb th,.pager,.tbform thead>tr {
	color: #ffffff;
	text-indent: 15px;
	font-size: 15px;
	height: 20px;
	
	text-align: center;
}
.tb th,.tbform thead>tr{
	background: -moz-linear-gradient(top, #000000, #999999);
	background: -webkit-linear-gradient(top, #000000, #999999);
	background: -o-linear-gradient(top, #000000, #999999);
}
.pager{
	background: -moz-linear-gradient(top, #999999, #000000);
	background: -webkit-linear-gradient(top, #999999, #000000);
	background: -o-linear-gradient(top, #999999, #000000);
}
.tb th,.tb td {
	max-width: 215px;
	TEXT-OVERFLOW: ellipsis;
	overflow: hidden;
}

.tb th {
	height: 28px;
}

.tb td {
	height: 22px;
}

tr.pager th {
	padding: 5px 10px;
}
tr.pager a ,tr.pager a:hover,tr.pager a:visited{
	border: 1px solid #CCC;
    border-radius: 5px;
    margin: 1px 3px;
    padding: 1px 4px;
    cursor: pointer;
    color: #fff;
}


tr.pager a.current {
	cursor: default;
	background: #6CB670;
	color: #FFF;
}

tr.pager a.navpage {
	cursor: default;
	border: none;
	background: none;
}

tr.pager a.navpage:hover {
	cursor: default;
	border: none;
	background: none;
}

tr.pager a:hover {
	background: #6CB670;
}

#list .data {
	min-height: 200px;
	
}
.tb_data td,.tb_data th{
	text-align: center!important;
}
/* 加载  goal_load */
#load{
	width: 99.9%;
	height: 99.9%;
	margin: 0;
	padding: 0;
}
#load_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 1001;
	-moz-opacity: 0.6;
	opacity: .60;
	filter: alpha(opacity = 60);
}
#load_show {
	position: absolute;
	top: 45%;
	left: 45%;
	padding: 8px;
	z-index: 1002;
	overflow: auto;
}

/* 分步添加 */
.step {
	width: 100%;
	margin: 0 auto;
	border-radius: 4px;
	background: #aaaaaa;
	min-height: 600px;
}
#peopleInfo,#memberCardInfo,#photoInturArea{
	min-height: 580px;
}
.coach_member_list{
min-height: 450px;background-color: #fff
}
.photoSelect {
	border: 1px solid #fff;
	border-radius: 3px;
	height: 25px;
	padding: 2px;
}

.step table {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 6px;
}

.step  td {
	border-radius: 1px;
	padding: 5px;
}

.step input,.step select {
	min-height: 20px;
}

.step a {
	margin: 2px;
	color: #fff !important;
	width: 60px;
}


.borderstyle{
	border: 4px soid #fff;
	border-radius: 4px;
	margin: 0 auto;
}

#introduce {
	text-align: left;
}
.step .inturAre{
	min-height: 320px;
}
.step #introduce{
	height: 100%;
}
.photoAre{
	margin-top: 10px;
	border-radius: 4px;
	border: 8px solid #fff;
	text-align: center;
	vertical-align: middle;
}

/* 添加 goal_append */
.formContent{
	width: 99.9%;
	height: 99%;
	margin: 0 auto;
}
.formContent,.appendLight {
	background: #eeeeee;
}
.appendTitle {
	font-size: 16px;
	color: #ffffff;
}

.appendTitle,.appendFoot {
	height: 25px;
	text-align: center;
}

.appendBody a {
	width: 100px;
	margin: 2px;
	color:#fff;
	text-align: center;;
}

.appendBody select {
	min-height: 24px;
	min-width: 61.2%;
}

.appendBody td {
	min-height: 45px !important;
}

.appendBody input {
	min-height: 20px;
	width: 60%;
}


.appendLight {
	text-align: center;
}
