@CHARSET "UTF-8";

@font-face {
    font-family: fzqt;
    src: url("font/fzqt.ttf");
}

@font-face {
    font-family: vani;
    src: url("font/Vani.ttf");
}

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    background-color:rgba(255,255,255,0.5)!important;
    
}
/* tab pages  */
.benma_ui_tab {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	position: relative;
	top: 0px;
	line-height: 22px;
	overflow: auto;
	border: 0px solid #999999;
	padding-top: 4px;
	white-space: nowrap;
	overflow: hidden;
}

.benma_ui_tab .tab_hr {
	width: 100%;
	height: 2px;
	background-color: #336688;
	position: relative;
	top: 24px;
	z-index: 113;
	font-size: 0px;
	display: block;
}

.benma_ui_tab .tab_item {
	line-height: 22px;
	z-index: 100;
	white-space: nowrap;
	word-spacing: 0px;
	border-collapse: collapse;
	margin-left: 4px;
	float: left;
	cursor: hand;
	cursor: pointer;
}

.benma_ui_tab .tab_item1 {
	background-image: url(../img/skin/original/tbs/tab1.png);
	background-repeat: no-repeat;
	width: 5px;
	z-index: 100;
	white-space: nowrap;
}

.benma_ui_tab .tab_item1_mouseover {
	background-position: 0px -42px;
}

.benma_ui_tab .tab_item1_selected {
	background-position: 0px -84px;
}

.benma_ui_tab .tab_item2 {
	background-image: url(../img/skin/original/tbs/tab2.gif);
	background-repeat: repeat-x;
	white-space: nowrap;
	z-index: 101;
}

.benma_ui_tab .tab_item2_mouseover {
	background-position: 0px -42px;
}

.benma_ui_tab .tab_item2_selected {
	background-position: 0px -84px;
	color: #ffffff;
}

.benma_ui_tab .tab_item3 {
	background-image: url(../img/skin/original/tbs/tab3.png);
	background-repeat: no-repeat;
	width: 5px;
}

.benma_ui_tab .tab_item3_mouseover {
	background-position: 0px -42px;
}

.benma_ui_tab .tab_item3_selected {
	background-position: 0px -84px;
}

.benma_ui_tab .tab_title {
	padding: 4px;
	line-height: 16px;
	font-size: 12px;
}

.benma_ui_tab .tab_close {
	background-image: url(../img/skin/original/tbs/close.png);
	background-repeat: no-repeat;
	position: relative;
	top: -1px;
	height: 14px;
	width: 14px;
	font-size: 9px;
}

.benma_ui_tab .tab_close_mouseover {
	background-position: 0px -14px;
}

.benma_ui_tab .tab_close_selected {
	background-position: 0px 0px;
}

.benma_ui_tab .tab_close_noselected {
	background-position: 0px -28px;
}

.benma_ui_tab .tab_close_none {
	display: none;
}

/* bottom */
.benma_ui_tab_bottom {
	position: relative;
	top: 0px;
	width: 1024%;
	border: 0px solid #999999;
	padding-top: 0px;
	padding-bottom: 4px;
	white-space: nowrap;
	overflow: hidden;
}

.benma_ui_tab .tab_hr_bottom {
	width: 100%;
	height: 2px;
	background-color: #336688;
	position: relative;
	top: 0px;
	z-index: 113;
	font-size: 0px;
	display: block;
	position: relative;
}

.benma_ui_tab .tab_item_bottom {
	position: relative;
	top: -2px;
	line-height: 20px;
	z-index: 100;
	white-space: nowrap;
	word-spacing: 0px;
	border-collapse: collapse;
	margin-left: 4px;
	float: left;
	cursor: hand;
	cursor: pointer;
}

.benma_ui_tab .tab_item1_bottom {
	background-image: url(../img/skin/original/tbs/tab1_bottom.gif);
	background-repeat: no-repeat;
	background-position: 0px -18px;
	width: 5px;
}

.benma_ui_tab .tab_item1_mouseover_bottom {
	background-position: 0px -60px;
}

.benma_ui_tab .tab_item1_selected_bottom {
	background-position: 0px -102px;
}

.benma_ui_tab .tab_item2_bottom {
	background-image: url(../img/skin/original/tbs/tab2_bottom.gif);
	background-repeat: repeat-x;
	background-position: 0px -18px;
}

.benma_ui_tab .tab_item2_mouseover_bottom {
	background-position: 0px -60px;
}

.benma_ui_tab .tab_item2_selected_bottom {
	background-position: 0px -102px;
	color: #ffffff;
}

.benma_ui_tab .tab_item3_bottom {
	background-image: url(../img/skin/original/tbs/tab3_bottom.gif);
	background-repeat: no-repeat;
	background-position: 0px -18px;
	width: 5px;
}

.benma_ui_tab .tab_item3_mouseover_bottom {
	background-position: left -60px;
}

.benma_ui_tab .tab_item3_selected_bottom {
	background-position: left -102px;
}

.benma_ui_tab .tab_title_bottom {
	padding: 4px;
	line-height: 16px;
}

.benma_ui_tab .tab_close_bottom {
	font-size: 9px;
	top: 1px;
}
/* tab pages end */
.warp {
	height: 100%;
	background: #7b8aa1;
	margin: 0;
	padding: 0;
}
.time{
	display: none;
}
/*链接根据页面要求全局自定义*/
/*链接*/
a:link {
	text-decoration: none; /*下划线*/
	color: #000000; /*颜色*/
}
/*被访问过链接*/
a:visited {
	text-decoration: none; /*下划线*/
	color: #000000; /*颜色*/
}
/*鼠标经过*/
a:hover {
	text-decoration: none; /*下划线*/
	color: #643b05; /*颜色*/
}
/*链接被按下*/
a:active {
	text-decoration: none; /*下划线*/
	color: #643b05; /*颜色*/
}
/*链接橙色*/
a.orange {
	color: #8e5f07; /*颜色*/
}
/*链接灰色*/
a.gray {
	color: #6d6d6d; /*颜色*/
}
/*开灯关灯效果*/
.turnoff {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	position: fixed;
	background: #000000 repeat;
	opacity: 0.9;
	-moz-opacity: 0.9;
}

/* login */
.row-fluid h1 {
	color: #586683;
}

.lightHr{display: none;}

.loginmain {
    z-index: 888;
    height: 340px;
    width: 540px;
    position: absolute;
    margin-left: -270px;
    margin-top: -170px;
    left: 50%;
    top: 50%;
    background: #fff;
    opacity: .9;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -webkit-box-shadow:2px 5px 15px 5px #000000;  
  	-moz-box-shadow:2px 5px 15px 5px #000000;  
  	box-shadow: 2px 5px 15px 5px #000000;  
}
.row-fluid {
    z-index: 889;
    text-align: center;
    opacity: 1;
    height: 320px;
    width: 520px;
    position: absolute;
    margin-left: -260px;
    margin-top: -160px;
    left: 50%;
    top: 50%;
    background: #FFF;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -webkit-linear-gradient(top, #FFFFFF,#EEEEEE);
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
}

.row-fluid h1 {
    padding: 25px 0;
    font-family: fzqt;
    font-size: 40px;
}

.row-fluid hr {
    width: 80%;
    border: none;
    margin: 10px auto;
    height: 1px;
    background: -moz-linear-gradient(left, #EEEEEE, #FFF,#EEEEEE);
    background: -webkit-linear-gradient(left,#EEEEEE, #FFF,#EEEEEE);
    background: -o-linear-gradient(left,#EEEEEE, #f00,#EEEEEE);
}

.row-fluid .tip {
    color: red;
}

/* login-end */
.top_c {
	background: url(../img/skin/original/front/logo.png) no-repeat #586683;
	height: 97px;
	position: relative;
}

.top-nav {
	position: absolute;
	width: 348px;
	text-align: right;
	bottom: 20px;
	right: 10px;
	color: #afbbd5;
}

.top-nav a:link {
	color: #afbbd5;
}

.top-menu {
	position: absolute;
	right: 0;
	top: 0;
	height: 34px;
	background: url(../img/skin/original/front/top-menu-bg-left.gif)
		no-repeat;
	padding-left: 52px;
}

.top-menu .top-menu-nav {
	white-space: nowrap;
	height: 52px;
	background: url(../img/skin/original/front/top-menu-con.gif) repeat-x;
	margin: 0;
	padding: 0;
}

.top-menu .top-menu-nav li {
	white-space: nowrap;
	float: left;
	margin: 4px 0;
	border-right: 1px dotted #5A6885;
	padding: 0 18px;
}

.top-menu-nav .kidc {
	background: #FEFAF4;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 9999;
	position: absolute;
	padding: 5px 0;
	margin-left: -10px;
	margin-top: 10px;
	border: 1px solid #afbbd5;
	display: none;
}

.top-menu-nav .kidc li {
	float: none;
	background: none;
	border: none;
	padding: 3px 20px;
}

.top-menu-nav .kidc li:hover {
	background: #3a6aee;
	color: #FFF;
}

.top-menu-nav .kidc li a:hover {
	background: #3a6aee;
	color: #FFF;
	text-decoration: none;
}

.left_c {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #d1d8e2;
	width: 235px;
	position: absolute;
	top: 105px;
	left: 8px;
	overflow: hidden;
	bottom: 34px;
}

.left_c .acc {
	position: absolute;
	bottom: 0;
	top: 36px;
	width: 100%;
	overflow: auto;
}

.left_c h1 {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #323d53;
	text-indent: 15px;
	font-size: 15px;
	background: #b0bbd1;
	background: -moz-linear-gradient(top, #cfd6e9, #9da6c3);
	background: -webkit-linear-gradient(top, #cfd6e9, #9da6c3);
	background: -o-linear-gradient(top, #cfd6e9, #9da6c3);
}

.left_c ul {
	margin: 0;
	padding: 0;
	display: none;
}

.one {
	text-indent: 25px;
	font-weight: bold;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #323d53;
	padding: 4px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #949ab4;
	background: -moz-linear-gradient(top, #e0e3f2, #bac9ec);
	background: -webkit-linear-gradient(top, #e0e3f2, #bac9ec);
	background: -o-linear-gradient(top, #e0e3f2, #bac9ec);
}

.left_c a.one:hover {
	text-decoration: none;
	color: #7f031b;
	background: #F5B201;
	border-top: 1px solid #FEDE7B;
	border-bottom: 1px solid #C3262D;
	background: -moz-linear-gradient(top, #fedf7c, #eca201);
	background: -webkit-linear-gradient(top, #fedf7c, #eca201);
	background: -o-linear-gradient(top, #fedf7c, #eca201);
}

.one-hover {
	color: #7f031b;
	background: #F5B201;
	border-top: 1px solid #FEDE7B;
	border-bottom: 1px solid #C3262D;
	background: -moz-linear-gradient(top, #fedf7c, #eca201);
	background: -webkit-linear-gradient(top, #fedf7c, #eca201);
	background: -o-linear-gradient(top, #fedf7c, #eca201);
}

.kid li {
	text-indent: 25px;
	cursor: pointer;
	padding: 4px 0;
	background: #fefbf6;
	border-bottom: 1px solid #8e9db0;
	background: -moz-linear-gradient(top, #feffff, #fff4e8);
	background: -webkit-linear-gradient(top, #feffff, #fff4e8);
	background: -o-linear-gradient(top, #feffff, #fff4e8);
}

.kid li:hover {
	color: #810026;
	background: -moz-linear-gradient(top, #feffff, #fffaf6);
	background: -webkit-linear-gradient(top, #feffff, #fffaf6);
	background: -o-linear-gradient(top, #feffff, #fffaf6);
}

.kid .tip {
	height: 0;
	width: 8px;
	border: 4px solid transparent;
	border-left-color: #000;
	display: inline-block;
}

.alert .tip {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-left-color: #000;
	display: inline-block;
}

.tip-down {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-bottom-color: #000;
	display: inline-block;
}

.tip-left {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-left-color: #000;
	display: inline-block;
}

.tip-up {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-top-color: #000;
	display: inline-block;
}

.tip-up-red {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-top-color: #000;
	display: inline-block;
}

#datepicker {
	font-family: "Vani";
}

.right_c {
	position: relative;
	background: #d1d8e2;
	position: absolute;
	bottom: 34px;
	left: 260px;
	top: 120px;
	border-top: 1px solid #687295;
	border-left: 1px solid #687295;
	right: 0;
}

.nav-tip {
	cursor: pointer;
	width: 12px;
	background: url(../img/skin/original/front/nav-tip.gif) no-repeat;
	left: -12px;
	top: 50%;
	height: 73px;
	position: absolute;
	background-position-x: 0;
}

.hover-mask {
	display: none;
}

#tab_menu {
	position: absolute;
	left: 257px;
	top: 93px;
}

.Conframe {
	border-radius: 8px;
	border: 1px solid #b3baca;
	background: #FFF;
	overflow: auto;
	right: 8px;
	bottom: 42px;
	z-index: 999;
	padding: 8px;
	position: absolute;
	left: 268px;
	top: 135px;
}

.bottom_c {
	position: absolute;
	bottom: 0;
	background: #586683;
	width: 100%;
	text-align: center;
	color: #CCD8E8;
	padding: 8px 0;
}

/* 添加 goal_append */
.appendBody,.appendLight {
	background: #E2ECF7;
}
/* 刷新 goal_refresh */
.refresh {
	float: right;
	background: url(../img/skin/original/front/refresh.png);
	display: block;
	width: 24px;
	height: 24px;
}
/* 快捷菜单、导航、提醒  goal_title */
#quickMenu .imgItem {
	float: left;
	width: 75px;
	height: 85px;
	margin: 5px;
	padding: 3px;
	background: #bac9ec;
	border-radius: 8px;
	border: 5px solid #fff;
	text-align: center;
	vertical-align: center;
	cursor: pointer;
}

#navmenu,#remind {
	border: 1px solid #b0bbd1;
	min-height: 300px;
	float: left;
	margin-left: 5px;
	margin-top: 15px;
	border-radius: 5px;
}

.navbar {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
	padding: 8px 10px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius: 4px;
}

.navbar .tip {
	height: 0;
	margin: 0 8px;
	border: 4px solid transparent;
	border-left-color: #000;
	display: inline-block;
}

#navmenu {
	width: 79%;
}

#navitem {
	margin: 5px;
	cursor: pointer;
}

#remind_title,#navmenu_title {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #323d53;
	text-indent: 15px;
	font-size: 15px;
	background: #b0bbd1;
	background: -moz-linear-gradient(top, #cfd6e9, #9da6c3);
	background: -webkit-linear-gradient(top, #cfd6e9, #9da6c3);
	background: -o-linear-gradient(top, #cfd6e9, #9da6c3);
	text-align: center;
}

#navmenu div:HOVER {
	background: #d9edf7;
	border-radius: 10px;
}

.thCss {
	background-color: #CCC;
}

.treven {
	background-color: #FFF;
}

.trodd,.tbform .tdl {
	background-color: #F3F4F8;
}

.tractive {
	background-color: #E2ECF7;
}

.tb,.tbform {
	border-collapse: collapse;
	border-spacing: 2px;
	white-space: nowrap;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 8px;
}

.tb th,.tb td,.tbform td,.tbform th {
	border-bottom: 1px solid #aaaaaa;
	padding: 0 5px;
}

.tb th,.tb td {
	max-width: 215px;
	TEXT-OVERFLOW: ellipsis;
	overflow: hidden;
}

.tb th {
	height: 28px;
	background: #E7EBEF url(../img/skins/original/front/header.png) repeat-x
		0 0;
	border: #DEE1E6 1px solid;
}

.tb td {
	height: 22px;
}

tr.pager th {
	padding: 5px 10px;
}

tr.pager a {
	border: 1px solid #CCC;
	margin: 2px 3px;
	padding: 3px 6px;
	cursor: pointer;
	background: #efefef;
}

tr.pager a.current {
	cursor: default;
	background: #06C;
	color: #FFF;
}

tr.pager a.navpage {
	cursor: default;
	border: none;
	background: none;
}

tr.pager a.navpage:hover {
	cursor: default;
	border: none;
	background: none;
	color: #000;
}

tr.pager a:hover {
	background: #06C;
	color: #FFF;
}

#remind_body .lilight {
	margin-top: 1px;
	border: 1px solid #fff;
	background: #fff 50% 50% repeat-x;
	color: #444;
}

#remind_body li {
	background: #d9edf7;
	color: #3a87ad;
}
/* 进场统计 goal_swipe */
#signIn_box,.swipe_in {
	background: #57c8f2;
}

#enjoyIng_box,.swipe_enjoy {
	background: #f8d347;
}

#signOut_box,.swipe_out {
	background: #ff6c60;
}
/* 销售统计 goal_sale */
.stats_recive {
	color: #fff;
	background: #00ccff
}

.stats_in {
	color: #fff;
	background: #92e365
}

.stats_out {
	color: #fff;
	background: #ff0030
}

.sale {
	color: #fff !important;
	margin: 0 !important;
	padding: 2px !important;
}
/* 加载  goal_load */
#load_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity = 70);
}

#load_show {
	position: absolute;
	top: 47%;
	left: 47%;
	padding: 8px;
	z-index: 1002;
	overflow: auto;
}

/* 分步添加 */
.step {
	width: 100%;
	margin: 0 auto;
	border-radius: 4px;
}
.photoSelect {
	border: 1px solid #fff;
	border-radius: 3px;
	height: 25px;
	padding: 2px;
}

.step table {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 6px;
}

.step  td {
	border: 1px solid #DEE1E6;
	border-radius: 1px;
	padding: 5px;
}

.step input,.step select {
	min-height: 20px;
}

.step a {
	margin: 2px;
	color: #fff !important;
	width: 60px;
}

.photoAre,.inturAre {
	width: 98%;
	margin: 2px auto;
	height: 300px;
	padding: 2px;
	border-radius: 4px;
}
.borderstyle{
	border: 4px soid #fff;
	border-radius: 4px;
	margin: 0 auto;
}
#coachForm .inturAre{
	height: 150px;
}
.inturAre {
	padding-top: 2%;
}

#introduce {
	width: 98%;
	min-height: 80%;
	/* min-height:150px; */
	text-align: left;
	border-radius: 6px;
}

.photoAre{
	margin-top: 10px;
	max-width: 430px;
	max-height: 380px;
	border-radius: 4px;
	border: 8px solid #fff;
	text-align: center;
	vertical-align: middle;
}

.appendTitle {
	font-size: 16px;
	color: #3a87ad;
}

.appendTitle,.appendFoot {
	height: 25px;
	text-align: center;
}

.appendBody a {
	width: 100px;
	margin: 2px;
	color:#fff;
	text-align: center;;
}

.appendBody select {
	min-height: 24px;
	min-width: 61.2%;
}

.appendBody td {
	min-height: 45px !important;
}

.appendBody input {
	min-height: 20px;
	min-width: 60%;
}


.appendLight {
	text-align: center;
}
